<% @articles.each do |article| %>
  <div class="article">
    <h3><%= article.title %></h3>
    <p>
      <%= raw truncate(article.body, length: 200, separator: '...') %>
      <br>
      <%= link_to 'Show', article if can? :show, Article %>
      <%= link_to 'Edit', edit_article_path(article) if can? :edit, Article %>
      <%= link_to 'Destroy', article if can? :delete, Article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>
